<!DOCTYPE html>
<html>
  <head>
    <title>Hobo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<nav class=”navbar navbar-default navbar-fixed-top”>
  <div class=”container-fluid”>
  </div>
</nav>
    <%= render 'shared/nav' %>
    <%= yield %>
  </body>
</html>
